code .keyword { color: #66d9ef; font-weight: bold; }
code .string, code .regexp { color: #e6db74 }
code .class, code .special { color: #a6e22e; }
code .number { color: #ae81ff; }
code .comment { color: #75715E; font-style: italic; }
