* {
  margin: 0;
  padding: 0;
  line-height: 100%;
  transition: all 50ms linear;
  box-sizing: border-box;

  --primary-color: #27ae60;
}
*::selection {
  background-color: rgba(0,0,0,.5);
  color: white;
}

html {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.header {
  --pad: 10px;
  box-shadow: 0 1px 1px 1px #f5f5f5;
  background-color: #f9f9f9;
}
.header,
.header * {
  color: #aaa;
}
.header-container {
  display: flex;
}
.header-version {
  flex: 1;
  padding: var(--pad) 0;
}
.header-menu {
  list-style: none;
}
.header-menu li {
  display: inline-block;
}
.header-menu a {
  padding: var(--pad);
  display: inline-block;
  text-decoration: none;
}
.header-menu a:hover {
  color: #555;
  background-color: #eee;
}

.info {
  padding-top: 75px;
  padding-bottom: 100px;
}
.info-header {
  margin-bottom: 30px;
}
.info-title {
  font-size: 3em;
  margin-bottom: 25px;
}
.info-title-detail {
  color: var(--primary-color);
}
.info-description {
  color: gray;
  font-size: 1.15em;
}
.info-actions {
  display: flex;
}
.info-action:not(:last-child) {
  margin-right: 15px;
}
.info-button {
  display: inline-block;
  padding: 18px 26px;
  border: none;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}
.info-button:hover {
  filter: brightness(1.1);
}
.info-button:active {
  filter: brightness(1.15);
}
.info-button--secondary {
  color: black;
  background-color: #ddd;
}
.info-button--secondary:hover {
  filter: brightness(.9);
}
.info-button--secondary:active {
  filter: brightness(.85);
}

.example {
  padding: 50px 0;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}
.example-container-code {
  position: relative;
  padding: 100px 0;
  padding: 20px;
  color: #eee;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 400;
  background-color: #2b2b2b;
  box-shadow: 0 0 30px 15px rgba(80,80,80,.15);
}
.example-header {
  padding-bottom: 25px;
}
.example-actions {
  display: flex;
}
.example-action {
  --size: 13px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
}
.example-action:not(:last-child) {
  margin-right: 8px;
}
.example-action--red {
  background-color: #ff5f56;
}
.example-action--yellow {
  background-color: #ffbd2e;
}
.example-action--green {
  background-color: #27c93f;
}
.example-code {
  line-height: 1.75em;
}
.example-code *::selection {
  color: unset !important;
  background-color: rgba(255,255,255,.15)
}
.example-code #code {
  font-family: 'Roboto Mono', monospace;
}