.display {
  margin: 0 auto;
  width: $display-width;
}
.display-border {
  text-align: center;
  border-radius: $display-border-radius;
  background-color: #eee;
  
  // Button
  &::after {
    content: "";
    display: inline-block;
    margin: $display-button-margin 0;
    width: $display-button-diameter;
    height: $display-button-diameter;
    border-radius: 50%;
    background-color: $primary;
  }
}
.display-border-solid {
  box-sizing: border-box;
  padding: $display-border;
  width: 100%;
  height: $display-height;
  border-radius: $display-border-radius $display-border-radius 0 0;
  background-color: $primary;
}
.display-content {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: $display-content-padding;
  font-size: $display-font-size;
  text-align: left;
  line-height: 150%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #333;

  &-hi {
    color: #f8d689; 
  }
}
.display-base-small {
  width: $display-base-small-width;
  height: $display-base-small-height;
  margin: 0 auto;
  background-color: #eee;
  
  // Base shadow
  &::after {
    content: "";
    display: block;
    height: $display-base-small-width * (35 / 100);
    opacity: .1;
    background-color: black;
  }
}
.display-base-large {
  width:  $display-base-large-width;
  height: $display-base-large-height;
  margin: 0 auto;
  border-radius: $display-border-radius $display-border-radius 0 0;
  background-color: #eee;
}

