#features {
  padding: 100px 0;
  text-align: center;

  .row {
    margin-bottom: 50px;
  }
}
.features-item {
  text-align: center;
}
.features-image {
  width: 100%;
  margin-bottom: 20px;
}
.features-title {
  margin-bottom: 20px;
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
.features-description {
  font-size: 1.6em;
  font-style: italic;
  color: gray;
}
.features-btn {
  $color-dark: darken($primary, $btn-darken-amount);
  $color-light: $primary;
  $color-hover-dark: lighten($color-dark, 5%);
  $color-hover-light: lighten($color-light, 5%);

  padding: 15px 30px;
  border-radius: $btn-border-radius;
  border: solid $btn-border-width darken($primary, 20%);
  font-size: 1.75em;
  text-transform: uppercase;
  @include background(top, $color-dark, $color-light);
  color: white !important;

  &:hover {
    @include background(top, $color-hover-dark, $color-hover-light);
  }
  &:active {
    @include background(bottom, $color-hover-dark, $color-hover-light);
  }
}