#nav {
  padding: 25px 0;
  background-color: $dark;
}
.nav-item {
  $width: 8px;

  &:not(:first-child) {
    padding-left: $width;
  }
  &:not(:last-child) {
    padding-right: $width;
  }

  .btn {
    $color-light: #eee;
    $color-dark: darken($color-light, $btn-darken-amount);
    $color-hover-light: lighten($color-light, 5%);
    $color-hover-dark: lighten($color-dark, 5%);

    padding: 10px 30px;
    border: solid $btn-border-width white;
    border-radius: $btn-border-radius;
    font-size: 1.75em;
    @include background(top, $color-dark, $color-light);

    &:hover {
      @include background(top, $color-hover-dark, $color-hover-light);
    }
    &:active {
      @include background(bottom, $color-hover-dark, $color-hover-light);
    }
  }
}