<div class="display">
  <div class="display-border">
    <div class="display-border-solid">
    <!-- Bloco de código -->

      <pre class="display-content"><code>> var extenso = require('extenso')
<span class="display-content-hi">undefined</span>
> extenso('42')
<span class="display-content-hi">'quarenta e dois'</span>
> extenso('3,14')
<span class="display-content-hi">'três inteiros e quatorze décimos'</span>
> extenso('1.000.000')
<span class="display-content-hi">'um milhão'</span>
> extenso('1.000.001')
<span class="display-content-hi">'um milhão e um'</span></code></pre>

    <!--/ Bloco de código -->
    </div>
  </div>
  <div class="display-base-small"></div>
  <div class="display-base-large"></div>
</div>