<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2 class="footer-title">DOCUMENTAÇÃO</h2>
        <ul class="footer-list">
          <li><a class="footer-link" href="#">Instalação</a></li>
          <li><a class="footer-link" href="#">Uso</a></li>
          <li><a class="footer-link" href="#">Configuração</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h2 class="footer-title">LINKS</h2>
        <ul class="footer-list">
          <li><a class="footer-link" href="#">GitHub</a></li>
          <li><a class="footer-link" href="#">NPM</a></li>
        </ul>
      </div>
      <div class="col text-right">
        <img src="https://nodei.co/npm/extenso.png" alt="Informações do pacote do NPM">
      </div>
    </div>
  </div>
  <div class="footer-copyright text-right">
    <div class="container">
      <p class="m-0">Copyright &copy; 2015-2018 by Matheus Alves</p>
    </div>
  </div>
</footer>