<header id="header">
  <h1 class="header-title">Extenso.js</h1>
  <p class="header-description">
    Um biblioteca completa para escrever números por<br>
    extenso na língua portuguesa.
  </p>
</header>