<nav id="nav" class="nav justify-content-center">
  <div class="nav-item">
    <a href="https://github.com/theuves/extenso.js" class="btn btn-secondary">GitHub</a>
  </div>
  <div class="nav-item">
    <a href="https://npmjs.org/package/extenso" class="btn btn-secondary">NPM</a>
  </div>
  <div class="nav-item">
    <a href="https://github.com/theuves/extenso.js/archive/master.zip" class="btn btn-secondary">Download</a>
  </div>
  <div class="nav-item">
    <a href="https://github.com/theuves/extenso.js#readme" class="btn btn-secondary">Docs</a>
  </div>
</nav>