.cols(@direction, @padding) {
  padding-@{direction}: @padding;

  pre {
    border-@{direction}: 0.5px solid #444;
    border-top-@{direction}-radius: 0px;
    border-bottom-@{direction}-radius: 0px;
  }
}

/***/

.examples {
  color: white;
  background-color: @laranja;

  @media (max-width: @screen-tablet) {
    pre {
      border-radius: @border-radius-base !important;
    }

    .left {
      .cols(right, 15px);

      pre {
        margin-bottom: 0px;
      }
    }

    .right {
      .cols(right, 15px);
    }
  }

  .left {
    .cols(right, 0px);
  }

  .right {
    .cols(left, 0px);
  }
}
