.examples {
  color: white;
  background-color: @laranja;

  @media (max-width: @screen-tablet) {
    .cols(@direction, @padding) {
      padding-@{padding}: 15px;

      pre {
        border: none;
        border-@{direction}: 0.5px solid #444;
        border-@{direction}-left-radius: 0px;
        border-@{direction}-right-radius: 0px;
      }
    }

    pre {
      border-radius: @border-radius-base !important;
    }

    .left {
      .cols(bottom, right) !important;

      pre {
        margin-bottom: 0px;
      }
    }

    .right {
      .cols(top, left) !important;
    }
  }

  .cols(@direction) {
    padding-@{direction}: 0px;

    pre {
      border-@{direction}: 0.5px solid #444;
      border-top-@{direction}-radius: 0px;
      border-bottom-@{direction}-radius: 0px;
    }
  }

  .left {
    .cols(right);
  }

  .right {
    .cols(left);
  }
}
