.home {
  color: white;
  background-color: @azul;

  @media (max-width: @screen-tablet) {
    .col-sm-6:first-child {
      margin-bottom: 10px;
    }
  }

  ul {
    margin-bottom: 24px;

    @media (max-width: @screen-tablet) {
      padding-left: 30px;
    }

    li {
      .fontSize(20px);

      list-style-type: none;

      &::before {
        margin-right: 10px;
        content: "\2713";
        font-weight: bold;
        color: greenyellow;
      }
    }
  }

  .btn {
    .fontSize(22);

    border-color: #111;
    padding: 10px 30px;
    color: white;
    background-color: lighten(black, 8);

    &:hover {
      color: #eee;
      background-color: lighten(black, 10);
    }

    &:active {
      border-color: #555;
    }
  }

  .panel {
    border: none;

    .panel-heading {
      padding: 8px 15px;
      font-style: italic;
      background-color: #eee;
    }

    .panel-body {
      padding: 0px;
    }

    pre {
      margin-bottom: 0px;

      border-top-left-radius: 0px;
      border-top-right-radius: 0px;

      .badge.run {
        .fontSize(12px);

        color: #ddd;
        background-color: fadeout(#777, 40%);

        &:hover {
          background-color: fadeout(#777, 50%);
        }
      }
    }
  }
}
