// Colors
$primary: #9fd96b;
$secondary: #eee;
$dark: #111;

// Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);

// Base
$font-family-sans-serif: Roboto, sans-serif;

// Display configuration
$display-font-size: 1.1em;
$display-content-padding: 40px;
$display-width: 850px;
$display-height: 450px;
$display-border: 40px;
$display-border-radius: 10px;
$display-button-diameter: 30px;
$display-button-margin: 10px;
$display-base-small-width: 80px;
$display-base-small-height: 70px;
$display-base-large-width: 260px;
$display-base-large-height: 25px;

// Buttons style
$btn-border-width: 2px;
$btn-border-radius: 10px;
$btn-darken-amount: 30%;

// Reset jumbotron
$jumbotron-padding: 0;
$jumbotron-bg: 0;
