@import "./colors.less";

code {
  .keyword,
  .class,
  .special {
    color: @monokai-azul;
  }

  .keyword {
    font-weight: bold;
  }

  .string,
  .regexp {
    color: @monokai-amarelo;
  }

  .number {
    color: @monokai-roxo;
  }

  .comment {
    color: @monokai-cinza;
    font-style: italic;
  }
}
