@import "../bower_components/bootstrap/less/variables.less";
@import "./colors.less";
@import "./mixins/font-size.less";

@import "./bootstrap.less";
@import "./hijs.less";

@import "./sections/header.less";
@import "./sections/home.less";
@import "./sections/installation.less";
@import "./sections/examples.less";
@import "./sections/footer.less";

html {
  font-size: 16px;

  @media (max-width: @screen-tablet) {
    font-size: 14px;
  }
}

body {
  .fontSize(20px);

  font-family: "Open Sans Condensed", sans-serif;
}

::selection {
  color: white;
  background-color: @vermelho;
}
